<!DOCTYPE html>
<html>
  <head>
    <title>loan</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Cadastro de livros</h1>
    <div class="vertical-menu">
        <a href="/loan">Empréstimo</a>
        <a href="/loanConsultation">Consulta empréstimo</a>
        <a href="/customerRegistration">Cadastro de clientes</a>
        <a href="/bookRegistration" class="active">Cadastro de livros</a>
        <a href="/customers">Clientes</a>
        <a href="/books">Livros</a>
    </div>
    <div>
        <h4>Nome</h4>
        <input type="text" name="" id="">
        <h4>Autor</h4>
        <input type="text" name="" id="">
        <h4>Data de lançamento</h4>
        <input type="date" name="" id="">
        <h4>Area/Genero</h4>
        <input type="text" name="" id="">
        <h4>Edição</h4>
        <input type="text" name="" id="">
        <h4>Editora</h4>
        <input type="text" name="" id="">
        <button>Confirmar</button>
    </div>
  </body>
</html>