<!DOCTYPE html>
<html>
  <head>
    <title>loan</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Livros</h1>
    <div class="vertical-menu">
        <a href="/loan">Empréstimo</a>
        <a href="/loanConsultation">Consulta empréstimo</a>
        <a href="/customerRegistration">Cadastro de clientes</a>
        <a href="/bookRegistration">Cadastro de livros</a>
        <a href="/customers">Clientes</a>
        <a href="/books" class="active">Livros</a>
    </div>
    <div>
      <h4>Livros</h4>
      <input type="search" name="" id="">
      <button>Pesquisar</button>
      <br>
      <input type="checkbox" name="" id="">
      <label for="">Disponiveis</label>
      <input type="checkbox" name="" id="">
      <label for="">Indisponiveis</label>
      <table border="1">
        <tr>
          <th>Livro</th>
          <th>Autor</th>
          <th>Ano</th>
          <th>Area/Genero</th>
          <th>Edição</th>
          <th>Editora</th>
          <th>id</th>
        </tr>
        <tr>
          <td>livro1</td>
          <td>autor1</td>
          <td>ano1</td>
          <td>area/genero1</td>
          <td>edição1</td>
          <td>editora1</td>
          <td>id1</td>
        </tr>
      </table>
    </div>
  </body>
</html>