<!DOCTYPE html>
<html>
  <head>
    <title>loan</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Clientes</h1>
    <div class="vertical-menu">
        <a href="/loan">Empréstimo</a>
        <a href="/loanConsultation">Consulta empréstimo</a>
        <a href="/customerRegistration">Cadastro de clientes</a>
        <a href="/bookRegistration">Cadastro de livros</a>
        <a href="/customers"class="active">Clientes</a>
        <a href="/books">Livros</a>
    </div>
    <div>
      <h4>Clientes</h4>
      <input type="search" name="" id="">
      <button>Pesquisar</button>
      <br>
      <input type="checkbox" name="" id="">
      <label for="">Pendente</label>
      <input type="checkbox" name="" id="">
      <label for="">Bloqueado</label>
      <table border="1">
        <tr>
          <th>Cliente</th>
          <th>CPF</th>
          <th>Telefone</th>
          <th>Email</th>
        </tr>
        <tr>
          <td>cliente1</td>
          <td>cpf1</td>
          <td>telefone1</td>
          <td>email1</td>
        </tr>
      </table>
      <a href="/updateCustomer">Atualizar dados de Cliente</a>
    </div>
  </body>
</html>