<!DOCTYPE html>
<html>
  <head>
    <title>ls</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/script.js"></script>
    <script type="text/javascript">
      window.onload = () => {
        insertDataInTableCustomer(JSON.parse('<%- JSON.stringify(customer) %>'))
      }
    </script>
  </head>
  <body>
    <h1>SB</h1>
    <div class="vertical-menu">
        <a href="/loan">Empréstimo</a>
        <a href="/loanConsultation">Consulta empréstimo</a>
        <a href="/customerRegistration">Cadastro de clientes</a>
        <a href="/bookRegistration">Cadastro de livros</a>
        <a href="/customers"class="active">Clientes</a>
        <a href="/books">Livros</a>
    </div>
    <div class="customersSearch">
      <h4>Clientes</h4>
      <input type="search" id="customerName">
      <button onclick="searchCustomer()">Pesquisar</button>
      <br>
      <input type="checkbox" id="pending" onclick="checkPendingStatus()">
      <label for="">Pendente</label>
      <input type="checkbox" id="blocked" onclick="checkBlockedStatus()">
      <label for="">Bloqueado</label>
      <br>
      <br>
      <table border="1" id="tableCustomers" class="table">
        <tr>
          <th>Cliente</th>
          <th>CPF</th>
          <th>Telefone</th>
          <th>Email</th>
        </tr>
      </table>
      <a href="/updateCustomer">Atualizar dados de Cliente</a>
    </div>
  </body>
</html>