<!DOCTYPE html>
<html>
  <head>
    <title>ls</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/script.js"></script>
  </head>
  <body>
    <h1>SB</h1>
    <div class="vertical-menu">
        <a href="/loan">Empréstimo</a>
        <a href="/loanConsultation">Consulta empréstimo</a>
        <a href="/customerRegistration" class="active">Cadastro de clientes</a>
        <a href="/bookRegistration">Cadastro de livros</a>
        <a href="/customers">Clientes</a>
        <a href="/books">Livros</a>
    </div>
    <div class="registrationsInputs">
      <h4>Nome</h4>
      <input type="text" id="customerName">
      <h4>CPF</h4>
      <input type="number" name="" id="customerCPF">
      <h4>Email</h4>
      <input type="email" name="" id="customerEmail">
      <h4>Telefone</h4>
      <input type="number" name="" id="customerTelephone">
      <button onclick="customerRegistration()">Confirmar</button>
    </div>
  </body>
</html>