<!DOCTYPE html>
<html>
  <head>
    <title>loan</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Consulta empréstimo</h1>
    <div class="vertical-menu">
        <a href="/loan">Empréstimo</a>
        <a href="/loanConsultation" class="active">Consulta empréstimo</a>
        <a href="/customerRegistration">Cadastro de clientes</a>
        <a href="/bookRegistration">Cadastro de livros</a>
        <a href="/customers">Clientes</a>
        <a href="/books">Livros</a>
    </div>
    <div>
      <h4>Clientes</h4>
      <input type="search" name="" id="">
      <h4>Livros</h4>
      <input type="search" name="" id="">
      <button>Search</button>
      <br>
      <input type="checkbox" name="" id="">
      <label for="">No prazo</label>
      <input type="checkbox" name="" id="">
      <label for="">Atrasado</label>
      <table border="1">
        <tr>
          <th>Livros</th>
          <th>Cliente</th>
          <th>CPF</th>
          <th>Data de devolução</th>
          <th>Devolução</th>
        </tr>
        <tr>
          <td>livros1</td>
          <td>cliente1</td>
          <td>cfp1</td>
          <td>data1</td>
          <td><button>devolver1</button></td>
        </tr>
      </table>
    </div>
  </body>
</html>