<!DOCTYPE html>
<html>
  <head>
    <title>ls</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/script.js"></script>
    <script type="text/javascript">
      window.onload = () => {
        insertDataInTableLoans(JSON.parse('<%- JSON.stringify(loan) %>'))
      }
    </script>
  </head>
  <body>
    <h1>SB</h1>
    <div class="vertical-menu">
        <a href="/loan">Empréstimo</a>
        <a href="/loanConsultation" class="active">Consulta empréstimo</a>
        <a href="/customerRegistration">Cadastro de clientes</a>
        <a href="/bookRegistration">Cadastro de livros</a>
        <a href="/customers">Clientes</a>
        <a href="/books">Livros</a>
    </div>
    <div class="customersInput">
      <h4>Livros</h4>
      <input type="search" id="bookName">
      <button onclick="searchLoan()">Search</button>
      <br>
      <input type="checkbox" name="" id="">
      <label for="">No prazo</label>
      <input type="checkbox" name="" id="">
      <label for="">Atrasado</label>

    </div>
    <div class="dataTable">
      <table border="1" id="tableLoans" class="table">
        <tr>
          <th>Livros</th>
          <th>Cliente</th>
          <th>CPF</th>
          <th>Data de devolução</th>
          <th>Devolução</th>
        </tr>
      </table>
    </div>
  </body>
</html>