<!DOCTYPE html>
<html>
  <head>
    <title>loan</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Empréstimo</h1>
    <div class="vertical-menu">
        <a href="/loan" class="active">Empréstimo</a>
        <a href="/loanConsultation">Consulta empréstimo</a>
        <a href="/customerRegistration">Cadastro de clientes</a>
        <a href="/bookRegistration">Cadastro de livros</a>
        <a href="/customers">Clientes</a>
        <a href="/books">Livros</a>
    </div>
    <div>
        <h4>Livros</h4>
        <input type="search" name="" id="">
        <button>Search</button>
        <table border="1">
            <tr>
                <th>Nome</th>
                <th>id</th>
            </tr>
            <tr>
                <td>nome1</td>
                <td>id1</td>
            </tr>
        </table>
    </div>
    <div>
        <h4>Clientes</h4>
        <input type="search" name="" id="">
        <button>Search</button>
        <table border="1">
            <tr>
                <th>Nome</th>
                <th>CPF</th>
            </tr>
            <tr>
                <td>nome1</td>
                <td>CPF1</td>
            </tr>
        </table>
    </div>
    <div>
        <h4>Data de devolução</h4>
        <input type="date" name="" id="">
        <button>Confirmar</button>
    </div>
  </body>
</html>
