<!DOCTYPE html>
<html>
  <head>
    <title>ls</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <h1>SB</h1>
    <div class="vertical-menu">
        <a href="/loan" class="active">Empréstimo</a>
        <a href="/loanConsultation">Consulta empréstimo</a>
        <a href="/customerRegistration">Cadastro de clientes</a>
        <a href="/bookRegistration">Cadastro de livros</a>
        <a href="/customers">Clientes</a>
        <a href="/books">Livros</a>
    </div>
    <div class="bookInput">
        <h4>Livros</h4>
        <input type="search" id="bookName">
        <button>Search</button>
        <p id="result"></p>
    </div>
    <div class="customerInput">
        <h4>Clientes</h4>
        <input type="search" id="customerName" onchange="setDeadline()">
        <button>Search</button>
    </div>
    <div class="dateInput">
        <h4>Data de devolução</h4>
        <input type="date" id="deadline">
        <button onclick="addLoan()">Confirmar</button>
    </div>
    <script>
      $('#bookName').keyup(() => {
        let bookName = $('#bookName').val();
        $.post('/bookName', { bookName }, (data) => {
          console.log(data);
          $('#result').html(data);
        });
      });
    </script>
  </body>
</html>
