<!doctype html>
<html>
  <body>
    <title>ls</title>
    <h1>Login</h1>
    <form action="/login" method="POST">
      <input name="username" type="text" /><br />
      <input name="password" type="password" /><br />
      <input type="submit" value="Login" />
    </form>
  </body>
</html>