!DOCTYPE html>
<html>
  <head>
    <title>ls</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>SB</h1>
    <div class="vertical-menu">
        <a href="/loan">Empréstimo</a>
        <a href="/loanConsultation">Consulta empréstimo</a>
        <a href="/customerRegistration">Cadastro de clientes</a>
        <a href="/bookRegistration">Cadastro de livros</a>
        <a href="/customers" class="active">Clientes</a>
        <a href="/books">Livros</a>
    </div>
    <div class="registrationsInputs">
      <h4>CPF</h4>
      <input type="number" name="" id="">
      <h4>Email</h4>
      <input type="email" name="" id="">
      <h4>Telefone</h4>
      <input type="number" name="" id="">
      <button>Confirmar</button>
    </div>
  </body>
</html>